<head>
    <script type="text/javascript" src="static/scripts/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="static/scripts/ajaxfileupload.js"></script>
    <script type="text/javascript" src="static/scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="static/scripts/getimeiinfo2.js"></script>
    <script type="text/javascript" src="static/scripts/calendar.js"></script>
    <script type="text/javascript" src="static/scripts/popup.js"></script>
    <script type="text/javascript" src="static/scripts/reply.js"></script>
    <link rel="stylesheet" type="text/css" href="static/styles/calendar.css">
    <link rel="stylesheet" type="text/css" href="static/styles/table.css">
    <link rel="stylesheet" type="text/css" href="static/styles/popup.css">
    <style type="text/css">

        .replyTable td {
            text-align: center;
            border: 1px solid gray;
        }

        a {
            text-decoration: NONE;
        }
    </style>
</head>

<div>
<table id="search_well" style="width:100%;border: solid thin #C0C0C0">
    <tbody>
    <tr style="height:30px">
        <td align="center" style="width:6%;">省份：</td>
        <td style="width:15%;"><select id="province">
            <option>所有省份</option>
            <option value="北京">北京</option>
            <option value="天津">天津</option>
            <option value="河北">河北</option>
            <option value="山西">山西</option>
            <option value="内蒙古">内蒙古</option>
            <option value="辽宁">辽宁</option>
            <option value="吉林">吉林</option>
            <option value="黑龙江">黑龙江</option>
            <option value="上海">上海</option>
            <option value="江苏">江苏</option>
            <option value="浙江">浙江</option>
            <option value="安徽">安徽</option>
            <option value="福建">福建</option>
            <option value="江西">江西</option>
            <option value="山东">山东</option>
            <option value="河南">河南</option>
            <option value="湖北">湖北</option>
            <option value="湖南">湖南</option>
            <option value="广东">广东</option>
            <option value="广西">广西</option>
            <option value="海南">海南</option>
            <option value="重庆">重庆</option>
            <option value="四川">四川</option>
            <option value="贵州">贵州</option>
            <option value="云南">云南</option>
            <option value="西藏">西藏</option>
            <option value="陕西">陕西</option>
            <option value="甘肃">甘肃</option>
            <option value="宁夏">宁夏</option>
            <option value="新疆">新疆</option>
            <option value="台湾">台湾</option>
            <option value="香港">香港</option>
            <option value="澳门">澳门</option>
        </select></td>
        <td align="center" style="width:6%;">机型：</td>
        <td style="width:20%;">
            <div id="projectDiv">
                <select id="phoneModel" style="width:180px"
                        onchange="resetPageNum()">
                    <option>所有机型</option>
                </select>
            </div>
        </td>
        <td align="center" style="width:6%;">时间：</td>
        <td><input type="text" class="tcal" id="begintime"> - <input
                type="text" class="tcal" id="endtime"></td>

        <td align="right" colspan="4" style="width:6%;">
            <div style="align:right;">
                <input type="button"
                       style="background-image:url(static/Image/select.png);width:73px;height:24px;border:0px;margin-right:25px;"
                       onclick="getIMEIList()"/>
            </div>
        </td>
    </tr>

    </tbody>
</table>
<div id="result" style="margin-top:18px;">
    <table id="datagrid" class="table" style="width:100%">
        <thead>
        <tr>
            <th width='15%'>IMEI</th>
            <th width='15%'>激活时间</th>
            <th width='15%'>省</th>
            <th width='15%'>市</th>
            <th width='15%'>区/县</th>
            <th width='15%'>机型</th>
        </tr>
        </thead>
        <tbody id="tablevlue"></tbody>
    </table>
</div>

<table style="width:100%">
    <tbody>
    <tr>
        <td style="width:50%"></td>
        <td style="width:20%" align="left">
            <div align="right" style="font-size:13px;">
						<span>共有<strong id="totalNUm"></strong> 条记录，当前第<strong
                                id="currentPage"></strong>页,共<strong id="totalPage"></strong>页
						</span>
            </div>
        </td>
        <td style="width:10%;font-size:13px;" align="center"><label>每页显示</label><select
                id="perpageshownum" onchange="refreshPage()">
            <option value="10">10条</option>
            <option value="20">20条</option>
            <option value="30">30条</option>
            <option value="50">50条</option>
            <option value="100">100条</option>
        </select></td>
        <td style="width:8%;font-size:13px;" align="center">跳转到<input
                type="text" id="jumpto" style="width:20%"> <input
                type="button" id="jumptoBtn" value="go" onclick="jumptoPage();">
        </td>
        <td style="width:12%" align="right">
            <input type="button" id="pre_page" value="上一页"/>
            <input type="button" id="next_page" value="下一页"/></td>
    </tr>
    </tbody>
</table>
</div>