<!--  it is a table render in wide scren -->
{% macro render_table(comment) %}
<table  border="0" cellpadding="0" cellspacing="0"  align="center">
    <tr>
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_46.jpg" width="19" height="333" alt="cell"></td>    
    <td><a href="{{comment[0]}}" target="_blank" class="track" name="hp-hp-xptj-3_{{comment[1]}}-v:n"><img src="{{comment[2]}}" width="272" height="333" alt=""></a></td>
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_48.jpg" width="25" height="333" alt="cell"></td>
    <td><a href="{{comment[4]}}" target="_blank" class="track" name="hp-hp-xptj-3_{{comment[5]}}-v:n"><img src="{{comment[6]}}" width="272" height="333" alt=""></a></td>
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_50.jpg" width="24" height="333" alt="cell"></td>
    <td><a href="{{comment[8]}}" target="_blank" class="track" name="hp-hp-xptj-3_{{comment[9]}}-v:n"><img src="{{comment[10]}}" width="272" height="333" alt=""></a></td>
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_52.jpg" width="25" height="333" alt="cell"></td>
    <td><a href="{{comment[12]}}" target="_blank" class="track" name="hp-hp-xptj-3_{{comment[13]}}-v:n"><img src="{{comment[14]}}" width="272" height="333" alt=""></a></td>
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_54.jpg" width="19" height="333" alt="cell"></td>
    </tr>
    <tr>
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_46.jpg" width="19" height="31" alt="cell"></td>    
    <td><h4> <span><em></em></span>{{comment[3].decode('utf-8')}}</h3></td>
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_48.jpg" width="25" height="31" alt="cell"></td>
    <td><h4> <span><em></em></span>{{comment[7].decode('utf-8')}}</h3></td>
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_50.jpg" width="24" height="31" alt="cell"></td>
    <td><h4> <span><em></em></span>{{comment[11].decode('utf-8')}}</h3></td>    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_52.jpg" width="25" height="31" alt="cell"></td>
    <td><h4> <span><em></em></span>{{comment[15].decode('utf-8')}}</h3></td>
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_54.jpg" width="19" height="31" alt="cell"></td>
    </tr>
</table>
{% endmacro %}

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!--  it is a table render in mb  scren -->
{% macro render_table_mb(comment) %}
<table  border="0" cellpadding="0" cellspacing="0"  align="center">
    <tr>
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_46.jpg" width="25" height="333" alt="cell"></td>   
    
    <td><a href="{{comment[0]}}" target="_blank" class="track" name="hp-hp-xptj-3_{{comment[1]}}-v:n"><img src="{{comment[2]}}" width="544" height="666" alt=""></a></td>
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_48.jpg" width="25" height="333" alt="cell"></td>
    
    <td><a href="{{comment[4]}}" target="_blank" class="track" name="hp-hp-xptj-3_{{comment[5]}}-v:n"><img src="{{comment[6]}}" width="544" height="666" alt=""></a></td>
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_50.jpg" width="24" height="333" alt="cell"></td>
    
    </tr>
    
    <tr>
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_46.jpg" width="25" height="31" alt="cell"></td>    
    <td><h1> <span><em></em></span>{{comment[3].decode('utf-8')}}</h1></td>
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_48.jpg" width="25" height="31" alt="cell"></td>
    
    <td><h1> <span><em></em></span>{{comment[7].decode('utf-8')}}</h1></td>
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_50.jpg" width="24" height="31" alt="cell"></td>
    
    </tr>
    
    <tr>
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_46.jpg" width="25" height="31" alt="cell"></td>    
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_46.jpg" width="544" height="31" alt="cell"></td>    
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_52.jpg" width="25" height="31" alt="cell"></td>
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_46.jpg" width="544" height="31" alt="cell"></td>    
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_54.jpg" width="24" height="31" alt="cell"></td>
    
    </tr>


    <tr>
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_46.jpg" width="25" height="333" alt="cell"></td>   
    
    <td><a href="{{comment[8]}}" target="_blank" class="track" name="hp-hp-xptj-3_{{comment[9]}}-v:n"><img src="{{comment[10]}}" width="544" height="666" alt=""></a></td>
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_52.jpg" width="25" height="333" alt="cell"></td>
    
    <td><a href="{{comment[12]}}" target="_blank" class="track" name="hp-hp-xptj-3_{{comment[13]}}-v:n"><img src="{{comment[14]}}" width="544" height="666" alt=""></a></td>
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_54.jpg" width="24" height="333" alt="cell"></td>
    
    </tr>
    
    <tr>
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_46.jpg" width="25" height="31" alt="cell"></td>    
    
    <td><h1> <span><em></em></span>{{comment[11].decode('utf-8')}}</h1></td>    
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_52.jpg" width="25" height="31" alt="cell"></td>
    
    <td><h1> <span><em></em></span>{{comment[15].decode('utf-8')}}</h1></td>
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_54.jpg" width="24" height="31" alt="cell"></td>
    
    </tr>
    
    <tr>
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_46.jpg" width="25" height="31" alt="cell"></td>    
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_46.jpg" width="544" height="31" alt="cell"></td>    
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_52.jpg" width="25" height="31" alt="cell"></td>
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_46.jpg" width="544" height="31" alt="cell"></td>    
    
    <td><img src="http://i3.vanclimg.com/cms/20170803/xtsy_54.jpg" width="24" height="31" alt="cell"></td>
    
    </tr>

    
</table>
{% endmacro %}


<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!--  it is a table render in mb  scren -->
{% macro huo_dong_zhuan_qv(huodong) %}

<div class=" piclist shangzhuanglist shangzhuanglist_top clear">
  <h2> 活动专区</h2>
  <ul>
    <li class="pic_one"><a href="{{huodong[0][0]}}"class="track" name="hp-hp-jpzk-1_1-v:n" target="_blank"> <img src="{{huodong[0][1]}}" alt="定制衬衫" width="590" height="480"/></a>
      <h3> <span></span>{{huodong[0][2].decode('utf-8')}}</h3>
    </li>
    <li class="pic_two">
      <div> <a href="{{huodong[1][0]}}" class="track" name="hp-hp-jpzk-1_2-v:n"target="_blank"> <img src="{{huodong[1][1]}}" alt="两件八折三件七折凡客水柔棉" width="290" height="200"/> </a>
        <h3><span></span>{{huodong[1][2].decode('utf-8')}}</h3>
      </div>
      <div> <a href="{{huodong[2][0]}}"class="track" name="hp-hp-jpzk-1_3-v:n" target="_blank"> <img src="{{huodong[2][1]}}" alt="POLO特惠直降" width="290" height="195"></a>
        <h3> <span></span>{{huodong[2][2].decode('utf-8')}}</h3>
      </div>
    </li>
    <li class="pic_three" style="margin-right: 0px;"> <a href="{{huodong[3][0]}}" class="track" name="hp-hp-jpzk-1_4-v:n" target="_blank"><img src="{{huodong[3][1]}}" alt="暑期大放价" width="286" height="480"></a>
      <h3> <span></span>{{huodong[3][2].decode('utf-8')}}</h3>
    </li>
  </ul>
</div>


<div class=" piclist shangzhuanglist clear">
 <h1> 长虹推荐</h1>
  <ul>
    <li class="pic_one"><a href="{{huodong[4][0]}}"class="track" name="hp-hp-jpzk-2_1-v:n" target="_blank"> <img src="{{huodong[4][1]}}" alt="吉國武衬衫" width="590" height="480"/></a>
      <h3><span></span>{{huodong[4][2].decode('utf-8')}}</h3>
    </li>
    <li class="pic_two">
      <div> <a href="{{huodong[5][0]}}" class="track" name="hp-hp-jpzk-2_2-v:n"target="_blank"> <img src="{{huodong[5][1]}}" alt="T恤现货专区" width="290" height="200"/> </a>
        <h3> <span><em></em></span>{{huodong[5][2].decode('utf-8')}}</h3>
      </div>
      <div> <a href="{{huodong[6][0]}}"class="track" name="hp-hp-jpzk-2_3-v:n" target="_blank"> <img src="{{huodong[6][1]}}" alt="空调衫" width="290" height="195"></a>
        <h3> <span><em></em></span>{{huodong[6][2].decode('utf-8')}}</h3>
      </div>
    </li>
    <li class="pic_three" style="margin-right: 0px;"> <a href="{{huodong[7][0]}}" class="track" name="hp-hp-jpzk-2_4-v:n" target="_blank"><img src="{{huodong[7][1]}}" alt="C9" width="286" height="480"></a>
      <h3> <span></span>{{huodong[7][2].decode('utf-8')}}</h3>
    </li>
  </ul>
</div>
<div class="divide2" charset="utf-8">
    <img src="http://i3.vanclimg.com/cms/20170803/xtsy_48.jpg" alt="" width="1166" height="40"/>
</div>
<div class=" piclist shangzhuanglist clear" charset="utf-8">
  <ul>
    <li class="pic_one"><a href="{{huodong[8][0]}}"class="track" name="hp-hp-jpzk-3_1-v:n" target="_blank"> <img src="{{huodong[8][1]}}" alt="凡客牛津纺衬衫" width="590" height="480"/></a>
      <h3> <span>2364</span>{{huodong[8][2].decode('utf-8')}}</h3>
    </li>
    
    <li class="pic_two">
      <div> <a href="{{huodong[9][0]}}" class="track" name="hp-hp-jpzk-3_2-v:n"target="_blank"> <img src="{{huodong[9][1]}}" alt="泡泡纱" width="290" height="200"/> </a>
        <h3> <span><em></em></span>{{huodong[9][2].decode('utf-8')}}</h3>
      </div>
      <div> <a href="{{huodong[10][0]}}"class="track" name="hp-hp-jpzk-3_3-v:n" target="_blank"> <img src="{{huodong[10][1]}}" alt="水洗棉" width="290" height="195"></a>
        <h3><span><em></em></span>{{huodong[10][2].decode('utf-8')}}</h3>
      </div>
    </li>
    <li class="pic_three" style="margin-right: 0px;"> <a href="{{huodong[11][0]}}" class="track" name="hp-hp-jpzk-3_4-v:n" target="_blank"><img charset="utf-8" src="{{huodong[11][1]}}" alt="{{huodong[11][2].decode('utf-8')}}" width="286" height="480" ></a>
      <h3 charset="utf-8"> <span><em></em></span>{{huodong[11][2].decode('utf-8')}}</h3>
    </li>
  </ul>
</div>

{% endmacro %}

{% macro render_table_phone(comment) %}
<div class="swiper-wrapper"> 
      <div class="swiper-slide"> 
       <a href="{{comment[0][0]}}"> <img class="lazyLoad" src="../../../Content/H5/img/loading-slide.jpg" data-src="{{comment[0][1]}}" alt="0810-秒杀" /></a> 
      </div> 
      <div class="swiper-slide"> 
       <a href="{{comment[1][0]}}"> <img class="lazyLoad" src="../../../Content/H5/img/loading-slide.jpg" data-src="{{comment[1][1]}}" alt="0721暑期大放价" /></a> 
      </div> 
      <div class="swiper-slide"> 
       <a href="{{comment[2][0]}}"> <img class="lazyLoad" src="../../../Content/H5/img/loading-slide.jpg" data-src="{{comment[2][1]}}" alt="0721童装" /></a> 
      </div> 
</div> 
{% endmacro %}


{% macro table1in2col(comment) %}
    <div class="t1001"> 
        <div> 
            <a href="{{comment[0]}}" onclick="{$event$}"><img src="{{comment[1]}}" /></a>
          

        </div> 
    </div> 
{% endmacro %}

{% macro table1col(comment) %}
<div class="t10"> 
    <div class="t101"> 
        <div> 
            <a href="javascript:void(0)" onclick="{$event$}"><img src="comment[0][0]" /></a> 
            <h4><span>{{comment[0][2].decode('utf-8')}}<em>{{comment[0][3]}}</em></span>{{comment[0][4].decode('utf-8')}}</h4>
        </div> 
    </div> 
</div> 
{% endmacro %}