<div style="text-align: center;background-image: url('static/Image/bg1_1.png');">
<div id="logincontent">
	<form  id="loginform" action="servlet/UserHome?from=login_market" method="post">
	<center>
		<table class="input_text">
			<tr><td class="input_text_td">用户名:</td><td><input type="text" name="username" id="username"></td></tr>
			<tr><td class="input_text_td">密码:</td><td><input type="password" name="password" id="password" ></td></tr>
		</table>
	    <input type="submit" value="登陆"><br>
	</center>
	</form>
</div>
</div>
