<!DOCTYPE html>
<html class="anmi">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="wap-font-scale" content="no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="data-spm" content="a3126">
        <meta name="aplus-touch" content="1">
        <meta name="aplus-terminal" content="1">
        <title>淘宝特卖</title>
        <link rel="stylesheet" type="text/css" href="//g.alicdn.com/thx/cube/1.2.1/neat-min.css">
        <link rel="stylesheet" type="text/css" href="//g.alicdn.com/mm/atb-new/0.2.1/list/index.css">
        <script src="//g.alicdn.com/mm/wakeup/wakeup-min.js"></script>
        <script src="//g.alicdn.com/??sd/ctl/ctl.js,mtb/lib-windvane/2.1.8/windvane.js"></script>
        <script src="//g.alicdn.com/mtb/lib-promise/3.1.1/polyfillB.js"></script>
        <script src="//g.alicdn.com/mtb/??lib-mtop/2.0.13/mtop.js,lib-login/1.5.10/login.js"></script>
        <script type="text/javascript" src="//g.alicdn.com/mm/atb/2016.09.08/??components/fixspm/index-min.js"></script>
    </head>
    <body data-spm="8759693"><script>window.pvid="201_10.179.66.211_911675_1502855911371";window.bucket_info="";with(document)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("exparams","category=&userid=&aplus&pvid=201_10.179.66.211_911675_1502855911371&bucket_info=&req_url=https%3A%2F%2Fitaobao.vipserver.tbsite.net%2Ftemai%3Fpid%3Dmm_123392180_26108559_126282472",id="tb-beacon-aplus",src="//g.alicdn.com/alilog/mlog/aplus_v2.js")</script><script src="//g.alicdn.com/retcode/log/log.js" crossorigin></script><script>window.__WPO.setConfig({sample: 10});</script>
      	<script>var DefaultRenderConfig = 
[{
    "bannerPic": "//gw.alicdn.com/tps/TB1muZpOFXXXXaCXpXXXXXXXXXX-750-220.png",
    "navList": [{
        "name": "3C",
        "value": "couponlist_3c_duiba",
        "channel": "0",
        "maxPrice": "10",
        "minPrice": "1",
        "spmc": "20000"
      }, {
        "name": "暖冬必备",
        "value": "couponlist_nuandongbibei_duiba",
        "channel": "1",
        "maxPrice": "10",
        "minPrice": "2",
        "spmc": "20001"
      }, {
        "name": "男性",
        "value": "couponlist_nanxing_duiba",
        "channel": "2",
        "maxPrice": "100",
        "minPrice": "1",
        "spmc": "20002"
      }, {
        "name": "女性",
        "value": "couponlist_nvxing_duiba",
        "channel": "3",
        "maxPrice": "10",
        "minPrice": "2",
        "spmc": "20003"
      }
    ],
    "pidList": "mm_113139986_12084612_64484846"
  }, {
    "bannerPic": "//gw.alicdn.com/tps/TB1muZpOFXXXXaCXpXXXXXXXXXX-750-220.png",
    "navList": [{
        "name": "车主必备",
        "value": "couponlist_chezhubibei_chezhuwuyou",
        "channel": "0",
        "maxPrice": "200",
        "minPrice": "10",
        "spmc": "20004"
      }, {
        "name": "车载电子",
        "value": "couponlist_chezaidianzi_chezhuwuyou",
        "channel": "1",
        "maxPrice": "100",
        "minPrice": "10",
        "spmc": "20005"
      }, {
        "name": "清洁美容",
        "value": "couponlist_qingjiemeirong_chezhuwuyou",
        "channel": "2",
        "maxPrice": "100",
        "minPrice": "5",
        "spmc": "20006"
      }, {
        "name": "汽车装饰",
        "value": "couponlist_qichezhuangshi_chezhuwuyou",
        "channel": "3",
        "maxPrice": "250",
        "minPrice": "5",
        "spmc": "20007"
      }, {
        "name": "养护耗材",
        "value": "couponlist_yanghuhaocai_chezhuwuyou",
        "channel": "4",
        "maxPrice": "100",
        "minPrice": "5",
        "spmc": "20008"
      }, {
        "name": "安全自驾",
        "value": "couponlist_anquanzijia_chezhuwuyou",
        "channel": "5",
        "maxPrice": "100",
        "minPrice": "5",
        "spmc": "20009"
      }, {
        "name": "运动户外",
        "value": "couponlist_yundonghuwai_chezhuwuyou",
        "channel": "6",
        "maxPrice": "500",
        "minPrice": "5",
        "spmc": "20010"
      }
    ],
    "pidList": "mm_110124312_9744081_67604894"
  }, {
    "bannerPic": "//gw.alicdn.com/tps/TB1muZpOFXXXXaCXpXXXXXXXXXX-750-220.png",
    "navList": [{
        "name": "家居家装",
        "value": "couponlist_jiajujiazhuang",
        "channel": "0",
        "maxPrice": "100",
        "minPrice": "5",
        "spmc": "20011"
      }, {
        "name": "数码家电",
        "value": "couponlist_shumajiadian",
        "channel": "1",
        "maxPrice": "100",
        "minPrice": "5",
        "spmc": "20012"
      }, {
        "name": "母婴",
        "value": "couponlist_muying",
        "channel": "2",
        "maxPrice": "100",
        "minPrice": "5",
        "spmc": "20013"
      }, {
        "name": "食品",
        "value": "couponlist_shipin",
        "channel": "3",
        "maxPrice": "100",
        "minPrice": "5",
        "spmc": "20014"
      }, {
        "name": "女装",
        "value": "couponlist_nvzhuang",
        "channel": "4",
        "maxPrice": "300",
        "minPrice": "5",
        "spmc": "20015"
      }, {
        "name": "鞋包配饰",
        "value": "couponlist_xiebaopeishi",
        "channel": "5",
        "maxPrice": "100",
        "minPrice": "5",
        "spmc": "20016"
      }, {
        "name": "美装个护",
        "value": "couponlist_meizhuanggehu",
        "channel": "6",
        "maxPrice": "100",
        "minPrice": "5",
        "spmc": "20017"
      }, {
        "name": "男装",
        "value": "couponlist_nanzhuang",
        "channel": "7",
        "maxPrice": "100",
        "minPrice": "5",
        "spmc": "20018"
      }, {
        "name": "内衣",
        "value": "couponlist_neiyi",
        "channel": "8",
        "maxPrice": "100",
        "minPrice": "5",
        "spmc": "20019"
      }, {
        "name": "运动户外",
        "value": "couponlist_yundonghuwai",
        "channel": "9",
        "maxPrice": "100",
        "minPrice": "5",
        "spmc": "20020"
      }
    ],
    "pidList": "mm_112058089_12010049_67398682"
  }
];
var DefaultRenderData = {
  "bannerPic": "//gw.alicdn.com/tps/TB1GhRNOFXXXXbFaXXXXXXXXXXX-750-220.png",
  "navList": [{
      "name": "精选",
      "value": "",
      "channel": "0",
      "maxPrice": "",
      "minPrice": "0",
      "spmc": "10001"
    }, {
      "name": "女装",
      "value": "couponlist_nvzhuang",
      "channel": "1",
      "maxPrice": "",
      "minPrice": "0",
      "spmc": "10002"
    }, {
      "name": "家居家装",
      "value": "couponlist_jiajujiazhuang",
      "channel": "2",
      "maxPrice": "",
      "minPrice": "0",
      "spmc": "10003"
    }, {
      "name": "数码家电",
      "value": "couponlist_shumajiadian",
      "channel": "3",
      "maxPrice": "",
      "minPrice": "0",
      "spmc": "10004"
    }, {
      "name": "母婴",
      "value": "couponlist_muying",
      "channel": "4",
      "maxPrice": "",
      "minPrice": "0",
      "spmc": "10005"
    }, {
      "name": "食品",
      "value": "couponlist_shipin",
      "channel": "5",
      "maxPrice": "",
      "minPrice": "0",
      "spmc": "10006"
    }, {
      "name": "鞋包配饰",
      "value": "couponlist_xiebaopeishi",
      "channel": "6",
      "maxPrice": "",
      "minPrice": "0",
      "spmc": "10007"
    }, {
      "name": "美妆个护",
      "value": "couponlist_meizhuanggehu",
      "channel": "7",
      "maxPrice": "",
      "minPrice": "0",
      "spmc": "10008"
    }, {
      "name": "男装",
      "value": "couponlist_nanzhuang",
      "channel": "8",
      "maxPrice": "",
      "minPrice": "0",
      "spmc": "10009"
    }, {
      "name": "内衣",
      "value": "couponlist_neiyi",
      "channel": "9",
      "maxPrice": "",
      "minPrice": "0",
      "spmc": "100010"
    }, {
      "name": "运动户外",
      "value": "couponlist_yundonghuwai",
      "channel": "10",
      "maxPrice": "",
      "minPrice": "0",
      "spmc": "10011"
    }
  ]
};
<  / script >
        <script src="//g.alicdn.com/mm/atb-new/0.2.8/list/index.js"></script>
      	<script type="text/javascript">
            window.mm_goCouponDetail = true;
        </script>
    </body>
</html>
