<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>长虹手机配件商城</title>
    <link rel="shortcut icon" href="url({{url_for('static',filename='logo1.jpg')}})" type="image/x-icon" />
    <meta name="keywords" content="CHANGHONG,长虹,长虹手机,耳机,蓝牙音箱,长动力" />
    <meta name="description" content="长虹手机配件官方网站，耳机，音响，手机包，智能硬件，最全的行业咨询，最新的手机配件。" />
    <link href="http://cssy.vanclimg.com/css.ashx?href=[/public/autocomplete.css],[/index/global.css,common-header.css,common-footer.css,indexcontentv11.css]&v=20170418102130&compress" type="text/css" rel="stylesheet" charset="utf-8" />
    
    <script type="text/javascript" src="http://jsx.vanclimg.com/js.ashx?href=[jquery/jquery-1.7.1.min,jquery.lazyload]&compress"></script>
</head>
<body class="full">
    <script type="text/javascript">try{if (window.screen.width >= 1210 && $(document).width() >= 1228){window.document.body.className="full";} }catch(e){;}</script>
    <h1>{{data}}</h1>
</body>
</html>
