<div id="3pro" name="3promise">
	<p class="MsoNormal" align="left" style="text-align:center;">
	<span style="font-size:24px;" style="font-weight:bold;">国家三包政策</span></p>
	<p class="MsoNormal" align="left" style="font-weight:bold;">*以下若有与国家政策不符或遗漏之处，以国家政策为准。</p>
	<p class="MsoNormal" align="left" style="margin-left:36pt;">由于产品本身出现性能故障（见国家规定的《移动电话机商品性能故障表》）， 
	您可以凭有效发货票和有效三包凭证按照三包规定将享受下列三包服务：</p>
	<p class="MsoNormal" align="left" style="font-weight:bold;">★7日以内</p>
	<p class="MsoNormal" align="left" style="margin-left:36pt;">自售出之日起7日内，移动电话机主机出现国家规定的《移动电话机商品性能故障表》所列性 能故障的，消费者可以选择退货、换货或者修理。</p>
	<p class="MsoNormal" align="left" style="font-weight:bold;">★1个月内</p>
	<p class="MsoNormal" align="left" style="margin-left:36pt;">自售出之日起第8日至第30日内，移动电话机主机出现国家规定的《移动电话机商品性能故障表》所列性能故障的，消费者可以选择换货或者修理。</p>
	<p class="MsoNormal" align="left" style="font-weight:bold;">★一年内</p>
	<p class="MsoNormal" align="left" style="margin-left:36pt;">移动电话机主机三包有效期为一年，您的移动电话主机出现性能故障，可享受保修服务。</p>
	<p class="MsoNormal" align="left" style="font-weight:bold;">★服务说明：</p>
	<p class="MsoNormal" align="left" style="margin-left:36pt;">（1） 在三包有效期内，用户必须出具购机发票和有效三包凭证才能享受包换、包退的权利；
	如果丢失有效发货票和三包凭证，且不能提供有效发货票和三包凭证复印件的，您的移动电话主机可享受自出厂日期后第90日为保修期的起始日期一年内免费保修。
	<br></br>
	（2） 在三包有效期内，电池、充电器、移动终端卡、数据接口卡、外接有线耳机等移动电话机附件出现国家规定的《移动电话机商品性能故障表》所列性能故障的，
	可享受免费更换同品牌同型号同规格的附件的服务。充电器、移动终端卡、数据接口卡的包换期为一年；电池包换期为半年；外接有线耳机包换期为三个月。
	<br></br>
	（3） 本公司对产品的其他配置（例如：快速入门指南、保修卡等）不承担三包责任。</p>
</div>
